<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/express-web-components/express-middleware.html">
<link rel="import" href="../../../../bower_components/express-web-components/express-route.html">

<dom-module id="na-bears">
    <template>
        <express-route path="/bears">
            <express-middleware method="post" path="/" callback="[[createHandler]]"></express-middleware>
            <express-middleware method="get" path="/" callback="[[getAllHandler]]"></express-middleware>
        </express-route>
    </template>

    <script src="bears.component.ts"></script>
</dom-module>
