<link rel="import" href="../../../../node_modules/@polymer/polymer/polymer.html">

<link rel="import" href="../../../../node_modules/express-web-components/express-app.html">
<link rel="import" href="../../../../node_modules/express-web-components/express-router.html">
<link rel="import" href="../../../../node_modules/express-web-components/express-middleware.html">

<link rel="import" href="../api/api.component.html">

<dom-module id="na-app">
    <template>
        <express-app port="8080">
            <express-middleware callback="[[morganMW]]"></express-middleware>
            <express-middleware callback="[[bodyParserURLMW]]"></express-middleware>
            <express-middleware callback="[[bodyParserJSONMW]]"></express-middleware>
            <na-api></na-api>
        </express-app>
    </template>

    <script>
        class AppComponent {
            beforeReady() {
                this.is = 'na-app';
            }

            ready() {
                const bodyParser = require('body-parser');
                const morgan = require('morgan');

                this.morganMW = morgan('dev'); // log requests to the console

                // configure body parser
                this.bodyParserURLMW = bodyParser.urlencoded({ extended: true });
                this.bodyParserJSONMW = bodyParser.json();

                const mongoose = require('mongoose');
                mongoose.connect('mongodb://node:node@novus.modulusmongo.net:27017/Iganiq8o'); // connect to our database
            }
        }

        Polymer(AppComponent);
    </script>
</dom-module>
