<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/express-web-components/express-middleware.html">
<link rel="import" href="../../../../bower_components/express-web-components/express-route.html">

<dom-module id="na-bears-id">
    <template>
        <express-route path="/bears/:bear_id">
            <express-middleware method="get" path="/" callback="[[getHandler]]"></express-middleware>
            <express-middleware method="put" path="/" callback="[[updateHandler]]"></express-middleware>
            <express-middleware method="delete" path="/" callback="[[deleteHandler]]"></express-middleware>
        </express-route>
    </template>

    <script src="bears-id.component.ts"></script>
</dom-module>
